@page "/home/"

<section class="container mx-auto p-0 mt-5">
     <section class="bg-white rounded mx-auto col-sm-10 p-0 shadow">
          <div class="d-flex flex-wrap p-3">
               <h2>HOME</h2>
          </div>
     </section>
</section>

@code
{
}