@page "/home/{Id}"
@using User;
@using Authorise;
@using System.Text;
@using Item;

<section class="container mx-auto p-0 mt-5">
     <section class="bg-white rounded mx-auto col-sm-10 p-0">
          <div class="d-flex flex-wrap p-3">
               @if (Items != null)
               {
                   foreach (ItemsResponseBody item in Items) {
                        <div class="p-2 shadow rounded mb-3 mr-4" style="width: 30%; border-radius: 10px; background-color: aliceblue;">@item.itemName</div>
                   }
               } else {
                    <h5>Loading.....!</h5>
               }
          </div>
     </section>
</section>

@code
{
     [Parameter]
     public string Id { get; set; }

     public LoginResponseBody ResponseBody { get; set; }
     public ItemsResponseBody[] Items { get; set; }

     protected override void OnInitialized() {
          if (Id == null) {
               return;
          }
          Items = GetItems.fetchItems();
     }

     protected async override void OnParametersSet() {
          if (Id == null) {
               return;
          }
          string userId = Encoding.UTF8.GetString(Convert.FromBase64String(Id));
          ResponseBody = await FindUser.getUser(userId);
     }     
}