@page "/"

<h1>Hello, world!</h1>
<input type="text" value="@CurrentValue" @onchange="@((ChangeEventArgs e) => CurrentValue = e.Value.ToString())" />
Welcome to your new app.
<SurveyPrompt Title="How is Blazor working for you?" />
<Counter IncreamentCount="10" />

@code {
   private string CurrentValue { get; set; }   
}
