@page "/"
@using BlazorApp.Data
@inject Login Log

<h1>Login</h1>
<input placeholder="Login" type="text" value="@CurrentValue" @onchange="@((ChangeEventArgs e) => CurrentValue = e.Value.ToString())" />
<input placeholder="password" type="text" value="@Password" @onchange="@((ChangeEventArgs e) => Password = e.Value.ToString())" />
<button>Submit</button>

@code {
   private string CurrentValue { get; set; }   
   private string Password { get; set; }

   public void SetCred()
   {
      Login.username = CurrentValue;
      Login.password = Password;
   }
}
